<template>
    <v-layout align-center justify-center fill-height>
        <section id="regForm">
            <h1 style="text-align:center;margin-bottom:5vh;">Регистрация</h1>
            <input id='name' v-model="username" type="text" placeholder="Username" @input="check_username()">
            <input id='pass' v-model="password" type="password" placeholder="Password">
            <v-layout justify-center><v-btn @click="reg()" style="font-size:20px;margin-bottom:3vh;">Зарегистрироваться</v-btn></v-layout>
        </section>
    </v-layout>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: 'Regestration',
    data: () => ({
        username: '',
        password: ''
    }),
    methods: {
        ...mapActions(['addUser', 'login']),
        reg(){
            if (this.username != '' && this.password != ''){
                this.addUser({username: this.username, password: this.password}).then(res => {
                    if (res) this.login({username: this.username, password: this.password})
                })
            }
            else alert('Введите логин и пароль')
        },
        check_username(){

        }
    }
}
</script>

<style lang="scss">
#regForm{
    width: 60vw;
    padding: 50px;
    margin-top: 10vh;
    background: whitesmoke;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 20px;
    #name{
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(100, 100, 100);
        margin-bottom: 3vh;
    }
    #pass{
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(100, 100, 100);
        margin-bottom: 5vh;
    }
}
</style>

