<template>
  <section>
    <Header></Header>
    <router-view></router-view>
  </section>
</template>

<script>
import Header from './components/Header'

export default {
  name: 'App',
  components: {
    Header
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Exo+2');
html, body{
  font-family: 'Exo 2', sans-serif;
  background: rgb(220, 230, 235);
}
</style>
